<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback( function() { drawChart(series) });

    </script>
    <script type="text/javascript">
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.

      var series = [];
      var b_ind = 0;
      var t_ind = 0;
      var b_date;
      var t_date;

      while (b_ind < len(bloomberg_data) && t_ind < len(twitter_data)) {
        b_date = bloomberg_data["date"];
        t_date = twitter_data["date"];

        if (b_date < t_date) {
          series.push([b_date, bloomberg_data["score"], null]);
          b_ind ++;
        } else if (t_date < b_date) {
          series.push([t_date, null, twitter_data["score"]);
          t_ind ++;
        } else {
          series.push([t_date, bloomberg_data["score"], twitter_data["score"]);
          t_ind ++;
          b_ind ++;
        }
      }

      while (b_ind < len(bloomberg_data)) {
        b_date = bloomberg_data["date"];
        series.push([b_date, bloomberg_data["score"], null]);
        b_ind ++;
      }

      while (t_ind < len(twitter_data)) {
        t_date = twitter_data["date"];
        series.push([t_date, null, twitter_data["score"]]);
        t_ind++;
      }


      function drawChart(series) {
        
        var continuousData = new google.visualization.DataTable();
        continuousData.addColumn('datetime', 'Number');
        continuousData.addColumn('number', 'Bloomberg Location');
        continuousData.addColumn('number', 'Article Tweets');
        var d = new Date();
        continuousData.addRows(series);
    
        var continuousChart = new google.visualization.LineChart(document.getElementById('chart_div'));
          continuousChart.draw(continuousData, {
          title: 'Sentiments'
        });
      }    

  </script>
  </head>

  <body>
    <!--Div that will hold the chart-->
    <div id="chart_div"></div>
  </body>
</html>
