<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="http://localhost:5000/static/style.css">
	<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	<link rel="stylesheet" href="http://localhost:5000/static/bootstrap-image-gallery.min.css">
	<link type="text/css" rel="stylesheet" href="http://localhost:5000/static/graph.css">
	<link type="text/css" rel="stylesheet" href="http://localhost:5000/static/detail.css">
	<link type="text/css" rel="stylesheet" href="http://localhost:5000/static/legend.css">
	<link type="text/css" rel="stylesheet" href="http://localhost:5000/static/lines.css">
</head>
<body>
	{% if article %}
		<title>{{ article['headline']['main']|striptags|safe }}</title>
		<div class="panel-body">
			<h2>{{ article['headline']['main']|safe }}</h2>
			<p class="lead">Summary</p> 
				<p>{{ article['snippet']|safe }}</p>
			<p class="lead">Definition</p>
			<ul>
				{% for eachKeyword in article['keywords'] %}
					<li> {{ eachKeyword['definition'] }} </li>
				{% endfor %}
			</ul>
			{% if article['multimedia'] %}
				<p class="lead">Images</p>
				<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
				<div id="blueimp-gallery" class="blueimp-gallery">
				    <!-- The container for the modal slides -->
				    <div class="slides"></div>
				    <!-- Controls for the borderless lightbox -->
				    <h3 class="title"></h3>
				    <a class="prev">‹</a>
				    <a class="next">›</a>
				    <a class="close">×</a>
				    <a class="play-pause"></a>
				    <ol class="indicator"></ol>
				    <!-- The modal dialog, which will be used to wrap the lightbox content -->
				    <div class="modal fade">
				        <div class="modal-dialog">
				            <div class="modal-content">
				                <div class="modal-header">
				                    <button type="button" class="close" aria-hidden="true">&times;</button>
				                    <h4 class="modal-title"></h4>
				                </div>
				                <div class="modal-body next"></div>
				                <div class="modal-footer">
				                    <button type="button" class="btn btn-default pull-left prev">
				                        <i class="glyphicon glyphicon-chevron-left"></i>
				                        Previous
				                    </button>
				                    <button type="button" class="btn btn-primary next">
				                        Next
				                        <i class="glyphicon glyphicon-chevron-right"></i>
				                    </button>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<div id="links">
					{% for eachImage in article['img'] %}
						{% if eachImage != "http://graphics8.nytimes.com/images/multimedia/10x10.gif" %}
						<a href="{{eachImage}}" title="Banana" data-gallery>
							<img src="{{eachImage}}" height="100px" width="100px" alt="">
						</a>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
			<p class="lead">Timeline</p>
			<p class="lead">Semantic Analysis</p>
			<br><br><br><br><br><br><br><br><br><br>
			<div id="chart_container">
				<div id="chart" class="rickshaw_graph"></div>
				<div id="legend_container">
				      <div id="smoother" title="Smoothing"></div>
				      <div class="rickshaw_legend" as="">
				         <ul>
				            <li class="line">
				               <div class="swatch" style="background-color: rgb(255, 102, 0);"></div>
				               <span class="label">Location Sentiment</span>
				            </li>
				            <li class="line">
				               <div class="swatch" style="background-color: rgb(0, 132, 180);"></div>
				               <span class="label">Article Sentiment</span>
				            </li>
				         </ul>
				      </div>
				</div>
			</div>
			{% if article['type_of_material'] == "News" %}
			<p class="lead">Article</p>
				<p>{{ article['allText']|safe }}</p>
			{% endif %}
		</div>
	{% endif %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
	<script src="http://localhost:5000/static/bootstrap-image-gallery.min.js"></script>
	<script type="text/javascript" src="http://localhost:5000/scripts/d3.v3.js"></script>
	<script type="text/javascript" src="http://localhost:5000/scripts/rickshaw.js"></script>
	<script>

	var location_sentiment = [{"x" : 0, "y": 20}, {"x" : 5, "y" : 45}, {"x" : 10, "y":65}];
	var tweet_sentiment = [{"x" : 20, "y": 75}];
	var seriesData = [ location_sentiment, tweet_sentiment ];

	// instantiate our graph!
	function drawGraph(series) {
	   var graph = new Rickshaw.Graph( {
	      element: document.getElementById("chart"),
	      width: 960,
	      height: 500,
	      renderer: 'scatterplot',
	      series: [
	         {
	            color: "#ff9030",
	            name: "Bloomberg",
	            data: series[0],
	         }, {
	            color: "#0084b4",
	            name: "Twitter",
	            data: series[1],
	         }
	      ]
	   } );

	   graph.renderer.dotSize = 6;
	   //new Rickshaw.Graph.HoverDetail({ graph: graph });
	   graph.render();
	}
	drawGraph(seriesData);
	</script>
</body>
</html>