<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="http://localhost:5000/static/style.css">
	<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	<link rel="stylesheet" href="http://localhost:5000/static/bootstrap-image-gallery.min.css">
</head>
<body>
	{% if article %}
		<title>{{ article['headline']['main']|striptags|safe }}</title>
		<div class="panel-body">
			<h2>{{ article['headline']['main']|safe }}</h2>
			<p class="lead">Summary</p> 
				<p>{{ article['snippet']|safe }}</p>
			<p class="lead">Definition</p>
			<ul>
				{% for eachKeyword in article['keywords'] %}
					<li> {{ eachKeyword['definition'] }} </li>
				{% endfor %}
			</ul>
			{% if article['allimages'][:15] %}
				<p class="lead">Images</p>
				<div class="galleria">
					{% for eachImage in article['allimages'][0] %}
						{% if eachImage != "http://graphics8.nytimes.com/images/multimedia/10x10.gif" %}
							<img src="{{eachImage}}">
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
			<p class="lead">Timeline</p>
			<ul>
				{% for eachArticle in article['similarArticles'][:5] %}
					<li> <a href="{{eachArticle['url']}}" target="_blank">{{ eachArticle['title'] }} </a> </li>
				{% endfor %}
			</ul>
			<table style="width:100%">
				<tr>
					<td>
						<p class="lead">Semantic Analysis</p>
						<canvas id="myChart" width="1200" height="200"></canvas>
					</td>
				</tr>
				<tr>
					<td>
						{% if article['type_of_material'] == "News" %}
						<div>
						<p class="lead">Article</p>
							<p>{{ article['allText']|safe }}</p>
						</div>
						{% endif %}
					</td>
				</tr>
			</table>
		</div>
	{% endif %}

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://localhost:5000/static/galleria-1.4.2.min.js"></script>
	<script src="http://localhost:5000/static/Chart.min.js"></script>
	<script>
		Galleria.loadTheme('http://localhost:5000/static/galleria/themes/showroom/galleria.showroom.min.js');
		Galleria.configure({
		      thumbnails: 'numbers'
		  });
		Galleria.run('.galleria', {responsive:true, height:0.300});

		var ctx = document.getElementById("myChart").getContext("2d");
		var data = {
		    labels: ["March", "April", "May", "June", "July", "August", "September", "October", "November"],
		    datasets: [
		        {
		            label: "Bloomberg",
		            fillColor: "rgba(220,220,220,0.2)",
		            strokeColor: "rgba(220,220,220,1)",
		            pointColor: "rgba(220,220,220,1)",
		            pointStrokeColor: "#fff",
		            pointHighlightFill: "#fff",
		            pointHighlightStroke: "rgba(220,220,220,1)",
		            data: [65, 59, 80, 81, 56, 55, 40, 10, 10, 10, 10, 55, 9]
		        },
		        {
		            label: "Twitter",
		            fillColor: "rgba(151,187,205,0.2)",
		            strokeColor: "rgba(151,187,205,1)",
		            pointColor: "rgba(151,187,205,1)",
		            pointStrokeColor: "#fff",
		            pointHighlightFill: "#fff",
		            pointHighlightStroke: "rgba(151,187,205,1)",
		            data: [28, 48, 40, 19, 86, 27, 90]
		        }
		    ]
		};

		var myLineChart = new Chart(ctx).Line(data);
	</script>

</body>
</html>