<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="http://localhost:5000/static/style.css">
	<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	<link rel="stylesheet" href="http://localhost:5000/static/bootstrap-image-gallery.min.css">
</head>
<body>
	{% if article %}
		<title>{{ article['headline']['main']|striptags|safe }}</title>
		<div class="panel-body">
			<h2>{{ article['headline']['main']|safe }}</h2>
			<p class="lead">Summary</p> 
				<p>{{ article['snippet']|safe }}</p>
			<p class="lead">Definition</p>
			<ul>
				{% for eachKeyword in article['keywords'] %}
					{% if eachKeyword['definition'] != "" %}
						<li> {{ eachKeyword['definition'] }} </li>
					{% endif %}
				{% endfor %}
			</ul>
			{% if article['allimages'][:15] %}
				<p class="lead">Images</p>
				<div class="galleria">
					{% for eachImage in article['allimages'][0] %}
						{% if eachImage != "http://graphics8.nytimes.com/images/multimedia/10x10.gif" %}
							<img src="{{eachImage}}">
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
			<p class="lead">Related</p>
			<ul>
				{% for eachArticle in article['similarArticles'][:5] %}
					<li> <a href="{{eachArticle['url']}}" target="_blank">{{ eachArticle['title']|safe }} </a> </li>
				{% endfor %}
			</ul>
			<table style="width:100%">
				<tr>
					<td>
						<p class="lead">Happiness Index</p>
						<div id="chart_div2"></div>
						<div id="chart_div1"></div>
					</td>
				</tr>
				<tr>
					<td>
						{% if article['type_of_material'] == "News" %}
						<div>
						<p class="lead">Article</p>
							<p>{{ article['allText']|safe }}</p>
						</div>
						{% endif %}
					</td>
				</tr>
			</table>
		</div>
	{% endif %}

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://localhost:5000/static/galleria-1.4.2.min.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
			var twitter_data;
			var bloomberg_data;
			$.ajax({
	         	url: "http://localhost:5000/api/" + window.location.href.split('http://localhost:5000/')[1],
	         	success: function(result){
	                	twitter_data = result['twitter'];
						bloomberg_data = result['bloombergData'][0];
	            },
	            async:   false
	    	});
	</script>
	<script type="text/javascript">
		function loadchart(myCallback) {
		    google.load('visualization', '1', {packages:['corechart'], callback: myCallback});
		}
		var series1 = [];
		var series2 = [];
		var b_ind = 0;
		var t_ind = 0;
		var b_date;
		var t_date;

		if(typeof bloomberg_data != 'undefined'){
			while (b_ind < bloomberg_data.length) {
			    b_date = new Date(bloomberg_data[b_ind]["date"]);
			    series1.push([b_date, parseFloat(bloomberg_data[b_ind]["score"])]);
			    b_ind++;
			}
		}
		while (t_ind < twitter_data.length) {
		    t_date = new Date(twitter_data[t_ind]["date"]);
		    series2.push([t_date, parseFloat(twitter_data[t_ind]["score"])]);
		    t_ind++;
		}

		if(typeof bloomberg_data != 'undefined'){
			series1.sort(function(a,b){
				return new Date(b[0]) - new Date(a[0]);
			});
		}
		series2.sort(function(a,b){
			return new Date(b[0]) - new Date(a[0]);
		});

		function drawChart(series, id) {
		    var continuousData = new google.visualization.DataTable();
		    continuousData.addColumn('datetime', 'Number');
		    if(id == '1'){
		    	continuousData.addColumn('number', 'Bloomberg Location');
		    } else {
		    	continuousData.addColumn('number', 'Article Tweets');
		    }
		    var d = new Date();
		    continuousData.addRows(series);
		    var continuousChart = new google.visualization.LineChart(document.getElementById('chart_div'+id));
		    continuousChart.draw(continuousData, {vAxis: {maxValue: 1}});
		}
		loadchart(function () {
			if(typeof bloomberg_data != 'undefined'){
				drawChart(series1, '1');
			}
			drawChart(series2, '2');
		});
	</script>
	<script type="text/javascript">
		Galleria.loadTheme('http://localhost:5000/static/galleria/themes/showroom/galleria.showroom.min.js');
		Galleria.configure({
		      thumbnails: 'numbers'
		  });
		Galleria.run('.galleria', {responsive:true, height:0.300});
	</script>
</body>
</html>